.btn-group {
    text-align: center;
}

.save-btn {
    text-align: center;
    padding: 10px;
    border: 1px solid #5390ee;
    font-size: 14px;
    background: #fff;
    color: #333;
    border-radius: 5px;
}